[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
[submodule "lib/ChimeraSim"]
	path = lib/ChimeraSim
	url = https://github.com/brandonbraun653/ChimeraSim.git
[submodule "lib/Aurora"]
	path = lib/Aurora
	url = https://github.com/brandonbraun653/Aurora.git
[submodule "lib/Apollo"]
	path = lib/Apollo
	url = https://github.com/brandonbraun653/Apollo.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/brandonbraun653/nanopb.git
[submodule "lib/Ripple"]
	path = lib/Ripple
	url = https://github.com/brandonbraun653/Ripple.git
[submodule "lib/Conda"]
	path = lib/Conda
	url = https://github.com/brandonbraun653/Conda.git
[submodule "lib/VirtualDrone"]
	path = lib/VirtualDrone
	url = https://github.com/brandonbraun653/VirtualDrone.git
[submodule "lib/msgpack"]
	path = lib/msgpack
	url = https://github.com/msgpack/msgpack-c.git
[submodule "lib/cppzmq"]
	path = lib/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "lib/ArduinoJSON"]
	path = lib/ArduinoJSON
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/ukf"]
	path = lib/ukf
	url = https://github.com/sfwa/ukf.git
